<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Flora-Kindred Loving Thoughts</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.png in the root directory -->
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
	<!-- Font Icons css -->
	<link rel="stylesheet" href="css/font-icons.css">
	<!-- plugins css -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive css -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- Admin css -->
	<link rel="stylesheet" href="css/admin.css">
</head>

<body>
	<h2 class="admin-header">Admin</h2>
	<div class="container" id="app">
		<div class="add-product" :class="{'open': formOpen}">

			<form @submit="cancel()">

				<div class="form--field">
					<label>Tên hoa </label>
					<input type="text" class="form--element" name="title" v-model="productData.title"
						placeholder="Title" required="">
				</div>
				<div class="form--field">
					<label>Thêm ảnh</label>
					<div class="custom__image-container">
						
						<input type="file" id="add-single-img" accept="image/jpeg" />
					</div>
					<input type="file" id="image-input" name="photos" accept="image/jpeg" multiple />
				</div>
				<div class="form--container -inline">

					<div class="form--field -short">
						<label>Giá </label>
						<span class="form--price">$</span>
						<input type="text" class="form--element" name="price" v-model="productData.price"
							placeholder="Giá thường" required="" min="0" max="500" pattern="\d+(\.\d{2})?">
					</div>
					<div class="form--field -short">
						<label>Giá giảm giá </label>
						<span class="form--price">$</span>
						<input type="text" class="form--element" name="sale_price" v-model="productData.sale_price"
							placeholder="Giá giảm giá " required="" min="0" max="500" pattern="\d+(\.\d{2})?">
					</div>
					<div class="form--field -short">
						<label>Loại hoa </label>
						<span class="form--price"></span>

						<select name="category" id="lang">
							<option value="">JavaScript</option>
							<option value="">PHP</option>
							<option value="">Java</option>
							<option value="">Golang</option>

						</select>
					</div>
				</div>

				<div class="form--field">
					<label>Mô tả hoa </label>
					<textarea class="form--element textarea" v-model="productData.description"
						placeholder="Description">
        </textarea>
				</div>

				<button type="submit" class="submit-button">Thêm mới </button>
				<div class="cancel"><span @click="cancel()">Hủy</span></div>
			</form>
		</div>
	</div>
	<!-- Body main wrapper end -->

	<!-- All JS Plugins -->
	<script src="js/plugins.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

</body>

</html>